$darkmode: true;
$primary: #c8c093;
$onPrimary: #16161d;
$primaryContainer: #6b6b6b;
$onPrimaryContainer: #c8c093;

$secondary: #c8c093;
$onSecondary: #16161d;
$secondaryContainer: #2a2a37;
$onSecondaryContainer: #c8c093;

$tertiary: #c8c093;
$onTertiary: #16161d;
$tertiaryContainer: #16161d;
$onTertiaryContainer: #c8c093;

$error: #c8c093;
$onError: #16161d;
$errorContainer: #16161d;
$onErrorContainer: #c8c093;

$colorbarbg: #16161d;
$background: #16161d;
$onBackground: #c8c093;

$surface: #161616;
$onSurface: #c8c093;
$surfaceVariant: #242424;
$onSurfaceVariant: #c8c093;

$outline: #a1a1a1;
$shadow: #16161d;

$inverseSurface: #c8c093;
$inverseOnSurface: #16161d;
$inversePrimary: #c8c093;
